## Importing Libraries

In [170]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
website = 'https://www.zomato.com/jaipur'
path = "C:\\Users\\hp\\Downloads\\chromedriver"

## Connecting Chrome page

In [135]:
driver = webdriver.Chrome(path)

C:\Users\hp\AppData\Local\Temp\ipykernel_6272\2107036205.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [136]:
driver.get(website)

## Finding Name of Restaurant

In [151]:
info = driver.find_elements(By.TAG_NAME, 'h4')

In [152]:
name=[]
for i in info:
    name.append(i.text)

## Finding Category of Food serve

In [155]:
row = driver.find_elements(By.XPATH,'//*[@id="root"]/div/div/div/div/div/div/a[2]/div[2]/p[1]')

In [156]:
category = []
for i in row:
    category.append(i.text)

## Finding Average Ratings given by customers

In [157]:
rating = driver.find_elements(By.XPATH,'//*[@id="root"]/div/div/div/div/div/div/a[2]/div[1]/div/div/div/div/div/div[1]')

In [158]:
ratings=[]
for i in rating:
    ratings.append(i.text)

## Finding Price per person

In [159]:
price = driver.find_elements(By.XPATH ,'//*[@id="root"]/div/div/div/div/div/div/a[2]/div[2]/p[2]')

In [160]:
charges = []
for p in price:
    charges.append(p.text)

## Getting address of restaurant

In [74]:
land = driver.find_elements(By.XPATH,'//*[@id="root"]/div/div/div/div/div/div/a[2]')

In [75]:
s=[]
for i in land:
    s.append(i.get_attribute('href'))

In [105]:
dtwo = webdriver.Chrome(path)

C:\Users\hp\AppData\Local\Temp\ipykernel_6272\3052680369.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  dtwo = webdriver.Chrome(path)

In [116]:
l=[]
for i in s:
    dtwo.get(i)
    a=dtwo.find_elements(By.XPATH,'//*[@id="root"]/div/main/div/section[3]/section/section/div/div/section[1]/a')
    l.append(a[0].text)

## Combining all the details in a dataframe

In [162]:
df=pd.DataFrame({'Restaurant_name':name,'Food_category':category,'Average_rating':ratings,'Price':charges,'Address':l})

In [167]:
df

,Restaurant_name,Food_category,Average_rating,Price,Address
0,Old Take Away - The Kabab Shop,"North Indian, Mughlai, Rolls",4.0,₹300 for one,"MI Road, Jaipur"
1,Kanha,"Mithai, Street Food, North Indian, South India...",4.2,₹300 for one,"Shastri Nagar, Jaipur"
2,The Pizza Unlimited,"Pizza, Sandwich, Rolls, Fast Food, Street Food...",3.9,₹300 for one,"Gopalpura, Jaipur"
3,Momotoko,"Momos, Chinese",New,₹300 for one,"C Scheme, Jaipur"
4,McDonald's,"Burger, Fast Food, Beverages",4.1,₹300 for one,"Mansarovar, Jaipur"
...,...,...,...,...,...
76,Natural Ice Cream,"Ice Cream, Desserts",4.5,₹200 for one,"Khatipura Road, Jaipur"
77,Mughal Hotel,"North Indian, Mughlai",3.9,₹200 for one,"Vaishali Nagar, Jaipur"
78,Sai Chaap Soya,"Fast Food, Rolls, North Indian",3.6,₹200 for one,"Shyam Nagar, Jaipur"
79,Tadka Lali Ka Vaishno Dhaba,"North Indian, Chinese",4.2,₹200 for one,"Sodala, Jaipur"
80,M M Khan Hotel,"North Indian, Mughlai, Biryani, Momos, Roast C...",3.8,₹200 for one,"Sindhi Camp, Jaipur"

## Saving dataframe into csv file

In [168]:
df.to_csv('Zomato_jaipur.csv')